.DS_Store
__pycache__/
*.pyc

web/backend/.env
web/backend/.venv/
web/backend/venv/
web/backend/env/
web/backend/libparking.dll
web/backend/libparking.so
web/backend/memory/

web/frontend/node_modules/
build/
dist/
