<!DOCTYPE html>
<html>
<head>
    <title>Parking Data</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <div class="sidebar">
        <h2>Resolve</h2>
        <ul>
            <li><a href="home.html">Dashboard</a></li>
            <li class="active">Locations</li>
            <li><a href="stats.html">Reports</a></li>
        </ul>
    </div>

    <div class="main">
        <h1>Parking Records</h1>

        <table id="dataTable">
            <thead>
                <tr>
                    <th>Vehicle No</th>
                    <th>Type</th>
                    <th>Slot</th>
                    <th>Hours</th>
                    <th>Fee</th>
                    <th>VIP</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
fetch("../data.csv")
.then(res => res.text())
.then(data => {
    let rows = data.trim().split("\n").slice(1);
    let table = document.querySelector("#dataTable tbody");

    rows.forEach(row => {
        let cols = row.split(",");
        let tr = `<tr>
            <td>${cols[0]}</td>
            <td>${cols[1]}</td>
            <td>${cols[2]}</td>
            <td>${cols[5]}</td>
            <td>${cols[6]}</td>
            <td>${cols[8]}</td>
        </tr>`;
        table.innerHTML += tr;
    });
});
</script>

</body>
</html>