<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<div class="sidebar">
    <h2>Resolve</h2>
    <ul>
        <li class="active">Dashboard</li>
        <li><a href="data.html">Locations</a></li>
        <li><a href="stats.html">Reports</a></li>
    </ul>
</div>

<div class="main">
    <h1>Dashboard</h1>

    <div class="cards">
        <div class="card">
            <h3>Total Revenue</h3>
            <p id="revenue">0</p>
        </div>

        <div class="card">
            <h3>Total Vehicles</h3>
            <p id="vehicles">0</p>
        </div>

        <div class="card">
            <h3>VIP Vehicles</h3>
            <p id="vip">0</p>
        </div>

        <div class="card">
            <h3>Active Slots</h3>
            <p id="slots">10</p>
        </div>
    </div>

</div>
</div>

<script>
fetch("../data.csv")
.then(res => res.text())
.then(data => {
    let rows = data.trim().split("\n").slice(1);

    let totalRevenue = 0;
    let totalVehicles = rows.length;
    let vipCount = 0;

    rows.forEach(r => {
        let cols = r.split(",");
        totalRevenue += parseFloat(cols[6]);
        if(cols[8] === "Yes") vipCount++;
    });

    document.getElementById("revenue").innerText = "$" + totalRevenue;
    document.getElementById("vehicles").innerText = totalVehicles;
    document.getElementById("vip").innerText = vipCount;
});
</script>

</body>
</html>