<!DOCTYPE html>
<html>
<head>
    <title>Statistics</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<div class="sidebar">
    <h2>Resolve</h2>
    <ul>
        <li><a href="home.html">Dashboard</a></li>
        <li><a href="data.html">Locations</a></li>
        <li class="active">Reports</li>
    </ul>
</div>

<div class="main">
    <h1>Statistics</h1>

    <div class="cards">
        <div class="card">
            <h3>Cars</h3>
            <p id="cars">0</p>
        </div>

        <div class="card">
            <h3>Bikes</h3>
            <p id="bikes">0</p>
        </div>

        <div class="card">
            <h3>VIP</h3>
            <p id="vip">0</p>
        </div>
    </div>

</div>
</div>

<script>
fetch("../data.csv")
.then(res => res.text())
.then(data => {
    let rows = data.trim().split("\n").slice(1);

    let cars=0, bikes=0, vip=0;

    rows.forEach(r => {
        let type = r.split(",")[1];
        if(type === "car") cars++;
        else if(type === "bike") bikes++;
        else vip++;
    });

    document.getElementById("cars").innerText = cars;
    document.getElementById("bikes").innerText = bikes;
    document.getElementById("vip").innerText = vip;
});
</script>

</body>
</html>